// Font Stacks
$font-family--primary   : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colors
$white : #FFFFFF;
$black : #000000;
$dark  : #0D0D0D
